@font-face {
    font-family: "xkcd-script";
    src: url("./xkcd-script.woff");
}

#snecs h1, #a-straightforward-nimble-ecs-for-python h2 {
    text-align: center;
}

#api-reference .section h2, #changelog h3 {
    font-family: "Garamond", "Georgia", serif !important;
}
